.tariffsSection {
    padding: 180px 0 45px 0;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 24px;
}

.categoriesWrapper {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--color-purple-40);
    color: var(--color-aqua-80);
    margin-bottom: 24px;
    
}

.category {
    width: 50%;
    border: none;
    background-color: transparent;
    color: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.category:hover {
    color: var(--color-white);
    transform: scale(1.05);
}

.activeBtn {
    border-radius: 4px;
    height: 44px;
    background-color: var(--color-aqua);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: #000;
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.standart {
    border: 1px solid var(--color-purple);
}

.vip {
    background-color: var(--color-purple); 
}

.standart, .vip {
    padding: 16px;
    border-radius: 8px;
}

.cardTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.04em;
    color: var(--color-white);
    margin-bottom: 24px;
}

.servicesList {
    margin-bottom: 32px;
}

.servicesItem {
    display: flex;
    gap: 10px;
    margin: 0 -16px;
    padding: 8px 16px;
    border-bottom: 1px dotted var(--color-white-30);
}

.checkIcon {
    fill: none;
    stroke: var(--color-white);
}

.formContent {
    display: flex;
    justify-content: space-between;
}

.price {
    position: relative;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.14;
    letter-spacing: -0.04em;
    color: var(--color-white);
}

.price::after {
    position: absolute;
    content: "-35%";
    right: -44px;
    color: var(--color-green);
    font-size: 18px;
}

.selectWrapper {
    position: relative;
    display: inline-block;
}

.customSelect {
    background-color: var(--color-white-30); 
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 40px; 
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
}

.selectArrow {
    position: absolute;
    top: 50%;
    right: 12px; 
    transform: translateY(-50%); 
    pointer-events: none; 
    fill: none;
    stroke: var(--color-white);
}

.btn {
    width: 100%;
    padding: 8px 24px;
    margin-top: 24px;
    background-color: var(--color-aqua);
    border-radius: 3px;
    box-shadow: 0 0 4px 0 var(--color-aqua);
    border: 1.50px solid var(--color-aqua);
    transition: transform 0.3s ease-in-out;
    
}

.btn:hover {
    scale: 1;
    transform: scale(1.05);
}

.btnTitle {
    color: var(--color-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
}

.btnSubtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: #030718;
    opacity: 0.56;
}

@media screen and (min-width: 768px) {
    .categoriesWrapper, .cardsWrapper {
        width: 60%;  
    }
}

@media screen and (min-width: 1396px) {

    .tariffsSection {
        padding: 96px 0;
    }

    .container {
        padding: 0 297px;
    }

    .title {
        font-size: 44px;
        line-height: 1.27;
        margin-bottom: 40px;
    }

    .categoriesWrapper {
        width: 413px;
        margin-bottom: 44px;
    }

    .cardsWrapper {
        width: 100%;
        flex-direction: row;
    }

    .cardTitle {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.5;
        margin-bottom: 56px;
    }

    .standart, .vip {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
        width: 413px;
        height: 580px;
    }

    .servicesItem {
        margin: 0 -24px;
        padding: 8px 24px;
    }

}