:root {
  --color-dark: #030718;
  --color-dark-80: rgba(3, 7, 24, 0.8); /* #030718 з opacity 0.8 */
  --color-light-80: rgba(231, 247, 248, 0.8); /* #e7f7f8 з op. 0.8 */
  
  --color-purple: #6a54ff;
  --color-purple-darker: #4a3bb3;
  --color-purple-darkest: #201a4f;

  --color-aqua: #57e1ff;
  --color-aqua-80: rgba(87, 225, 255, 0.8); /* #57e1ff з op. 0.8 */
  --color-aqua-20: rgba(87, 225, 255, 0.2);

  --color-green: #35ff9e;
  --color-green-90: rgba(53, 255, 158, 0.9); /* #35ff9e з op. 0.9 */

  --color-white: #FFFFFF;
  --color-white-70: rgba(255, 255, 255, 0.7); 
  --color-white-50: rgba(255, 255, 255, 0.5); 
  --color-white-40: rgba(255, 255, 255, 0.4); 
  --color-white-30: rgba(255, 255, 255, 0.3); 

  --color-gray-medium: #6073a1; 
  --color-gray-lightest: #eaeff0; 

  --color-dark-gray-40: rgba(67, 79, 112, 0.4); /* #434f70 з op. 0.4 */
  
  --color-black-strong: rgba(0, 0, 0, 0.8); /* #000 з op. 0.8 */
  --color-black-medium: rgba(0, 0, 0, 0.5); /* #000 з op. 0.5 */
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-white);
  background: var(--color-dark);
  font-family: var(--font-ibm-plex), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}