.modal {
    padding: 16px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-purple);
}

.iconClose {
    position: absolute;
    top: 10px;
    right: 10px;
    fill: var(--color-white);
    cursor: pointer;
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 68px 0 114px 0;
}

.navLink {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: var(--color-white-70);
    transition: color 0.3s ease-in-out;
}

.navLink:hover {
    color: var(--color);
}

.btnWrapper {
    display: flex;
    gap: 16px;
}

.btn {
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.43;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 var(--color-aqua);
    border: 1.50px solid var(--color-aqua);
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    scale: 1;
    transform: scale(1.05);
}

.filled {
    color: var(--color-dark);
    background-color: var(--color-aqua);
}

.outline {
    color: var(--color-aqua);
    background-color: var(--color-aqua-20);
}


@media screen and (min-width: 768px) {

    .modal {
        padding: 32px;
    }

    .iconClose {
        top: 20px;
        right: 20px;
    }

    .navList {
        align-items: center;
    }

    .btnWrapper {
        justify-content: center;
    }

}